.projectsLayout{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
}
.projectsLayHead{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

.prokectsLayoutList{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    align-self: center;
    padding-top: 5%;
}

.projectsCard{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 8% 0;
    position: relative;
    min-height: 25vh;
}
.projectsCardTitleDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: -18vh;
}
.projectsCardTitleDiv > p{
    font-size: 1.6rem;
    font-weight: 500;
}
.projectsCardImg{
    width: 10vw;
}
.projectsCardImg > img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.projectsCadDesc{
    padding: 5% 1%;
    border-radius: 20px;
    background-color: whitesmoke;
}