.topBarNav{
    width: 100%;

    min-height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: static;
    top: 0;

    background: rgba( 255, 255, 255, 0.4 );
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}
.topBarNavLeftBtnGrp{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 30%;
    text-align: left;
}
.topBarNavLeftBtnGrp > a{
    padding: 0 10%;
}
.topBarNavRightBtnGrp{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 30%;
    text-align: right;
}
.topBarNavRightBtnGrp > a{
    padding: 0 10%;
    cursor: pointer;
}

.topBarNavLeftBtnGrp > a:hover, .topBarNavRightBtnGrp > a:hover{
    font-weight: 700;
    transition: font-weight .2s ease-in-out;
}