.topBarNav{
    width: 90%;
    min-height: 5vh;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: static;
    top: 0;
}
.topBarNavLeftBtnGrp{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 30%;
}
.topBarNavLeftBtnGrp > a{
    padding: 0 10%;
}
.topBarNavRightBtnGrp{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 30%;
}
.topBarNavRightBtnGrp > a{
    padding: 0 10%;
    cursor: pointer;
}
.topBarNavLogoBtn{
    background-color: blue;
}